.ng-valid[required] {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #CB1010;
}

.chip {
    width: 70px;
    text-align: center;
}

.pokeInconnu {
    margin: 0;
    width: 40%;
}

#pokeNonTrouve {
    margin: 0 0 60px;
}

#accueilBouton {
    border-radius: 20px;
    color: white;
    background-color: rgb(10, 0, 120);
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    &:active {
    background-color: rgb(0, 150, 255);
    transform: translate(2px, 2px);
    }
}